In [61]:
name="KRISHNA"
name.lower()

'krishna'

In [62]:
test_str = "PYTHON"
 
# printing original string
print("The original string is : " + str(test_str))
 
# Using upper() + lower() + loop
# Alternate cases in String
res = ""
for idx in range(len(test_str)):
    if not idx % 2:
        res = res + test_str[idx].upper()
    else:
        res = res + test_str[idx].lower()
 
 # printing result
print("The alternate case string is : " + str(res))

The original string is : PYTHON
The alternate case string is : PyThOn

In [63]:
a = "PYTHON"
print("The original string is : " + str(a)) 
res = ''
for idx in range(len(a)):
    if not idx % 2:
        res = res + a[idx].lower()
    else:
        res = res + a[idx].upper()
print("The alternate case string is : " + str(res))

The original string is : PYTHON
The alternate case string is : pYtHoN

In [64]:
a = "python"
print("The original string is : " + str(a)) 
res = ''
for idx in range(len(a)):
    if not idx % 2:
        res = res + a[idx].upper()
    else:
        res = res + a[idx].lower()
print("The alternate case string is : " + str(res))

The original string is : python
The alternate case string is : PyThOn

In [65]:
biodata= "My name is krishna", "My age is 10","My phone-no is 990990","my father’s name is ram",
"my mother’s name is anusha"

'my mother’s name is anusha'

In [66]:
print(biodata,end=" ")

('My name is krishna', 'My age is 10', 'My phone-no is 990990', 'my father’s name is ram')

In [67]:
string = input("Please enter your own String : ")
char = input("Please enter your own Character : ")

count = 0
for i in range(len(string)):
    if(string[i] == char):
        count = count + 1

print("The total Number of Times ", char, " has Occurred = " , count)

Please enter your own String :
Please enter your own Character :
The total Number of Times    has Occurred =  0

In [68]:
def test(email_address):
    r = email_address.index("@")
    return "".join(l for l in email_address[:r] if l.isalpha())

email_address = "john@example.com"
print("Original Email:", email_address)
print("Extract the name from the said Email address:")
a = print(test(email_address))

email_address = "raju@example.com"
print("Original Email:", email_address)
print("Extract the name from the said Email address:")
b = print(test(email_address))

email_address = "ram@example.com"
print("Original Email:", email_address)
print("Extract the name from the said Email address:")
c = print(test(email_address))

Original Email: john@example.com
Extract the name from the said Email address:
john
Original Email: raju@example.com
Extract the name from the said Email address:
raju
Original Email: ram@example.com
Extract the name from the said Email address:
ram

In [74]:
string = ("abcdefghijklmnopqrstuvwxyz")
vowels = ['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U']
result = " "
for i in range(len(string)):
    if string[i] not in vowels:
        result = result + string[i]

print("\nAfter removing Vowels: ", result)

After removing Vowels:   bcdfghjklmnpqrstvwxyz

In [75]:
string= "Welcome to Innomatics. innomatics awesome, isn't it?"
print(string.count("innomatics"))

1

In [78]:
a = "mia khalifa sunn sunn sunn"
print(a.count("Sunn"))

0